//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/// header
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
.header {
  display: grid;
  grid-template-rows: 1.7fr 0.5fr;
  user-select: none;
}

.header__preview-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.74);
}

.header__preview {
  display: flex;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.header__main-menu {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.header__button-of-main-page {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header__button-of-archive-page {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header__button-of-admin-page {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header__button-of-settings-page {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header__button-of-about-the-program-page {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header__subscriber-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #e3ca9cab;
}

.header__subscriber {
  font-size: 25px;
  font-weight: 600;
}

.header__user-container {
  display: flex;
  align-items: center;
}

.header__user-greeting {}

.header__user-name {
  margin: 5px;
}

.header__user-surname {
  margin: 5px;
}

.header__line {
  height: 20px;
  width: 2px;
  margin: 5px;
  background-color: rgba(30, 40, 43, 0.493);
}

.header__button-out {
  cursor: pointer;
}

.main {
  position: relative;
}

//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/// archive popup
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////

.archive {
  position: relative;
  display: none;
  grid-template-columns: 254px 1fr;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.work-with-the-folder {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(114, 88, 40, .644);
}

.work-with-the-folder__wrapper-button-container {
  width: 100%;
}

.work-with-the-folder__button-up {
  width: 100%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background-color: rgba(166, 225, 240, 0.493);
    transition: .4s;
  }
}

.work-with-the-folder__button-down {
  width: 100%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background-color: rgba(166, 225, 240, 0.493);
    transition: .4s;
  }
}

.work-with-the-folder__subscriber {
  width: 100%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background-color: rgba(166, 225, 240, 0.493);
    transition: .4s;

  }
}

.work-with-the-folder__item {}

.work-with-the-folder__button-new-folder {
  width: 100%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background-color: rgba(166, 225, 240, 0.493);
    transition: .4s;
  }
}

.work-with-the-folder__button-cut {
  width: 100%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background-color: rgba(166, 225, 240, 0.493);
    transition: .4s;
  }
}

.work-with-the-folder__button-renovate {
  width: 100%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background-color: rgba(166, 225, 240, 0.493);
    transition: .4s;
  }
}

.work-with-the-folder__button-remove {
  width: 100%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background-color: rgba(166, 225, 240, 0.493);
    transition: .4s;
  }
}

.work-with-the-folder__faster-search {
  width: 100%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
  transition: .4s;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(166, 225, 240, 0.493);
    transition: .4s;
  }
}

.work-with-the-folder__seach-wrapper {
  position: relative;
}

.work-with-the-folder__seach-img {
  position: absolute;
}

.work-with-the-folder__seach {
  width: 100%;
  cursor: pointer;
}

.work-with-the-folder__table-wrapper {
  width: 100%;
  height: 100%;
}

.work-with-the-folder__table {}

.work-with-the-folder__button-flipper-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  bottom: 0;
}

.work-with-the-folder__button-flipping-start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 3px;
  cursor: pointer;
}

.work-with-the-folder__button-flipping-previous {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 3px;
  cursor: pointer;
}

.work-with-the-folder__text-content-of-flipping {
  margin: 3px;
}

.work-with-the-folder__number-page {
  width: 30px;
  margin: 3px;
}

.work-with-the-folder__button-flipping-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 3px;
  cursor: pointer;
}

.work-with-the-folder__button-flipping-end {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 3px;
  cursor: pointer;
}

.work-with-the-file {
  position: relative;
  border: 1px solid rgba(114, 88, 40, 0.644);
}

.work-with-the-file__menu-of-change {
  display: grid;
  font-size: 13px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.616);
}

.work-with-the-file__button-append-file {
  border: none;
  background-color: white;
  cursor: pointer;

  &:hover {

    transform: scale(1.02);
    background-color: rgba(166, 225, 240, 0.493);
  }
}

.work-with-the-file__button-open-file {
  border: none;
  background-color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(166, 225, 240, 0.493);
  }
}

.work-with-the-file__button-search {
  border: none;
  background-color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(166, 225, 240, 0.493);
  }
}

.work-with-the-file__button-cut-out {
  border: none;
  background-color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(166, 225, 240, 0.493);
  }
}

.work-with-the-file__button-remove {
  border: none;
  background-color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(166, 225, 240, 0.493);
  }
}

.work-with-the-file__button-up {
  border: none;
  background-color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(166, 225, 240, 0.493);
  }
}

.work-with-the-file__button-cash {
  border: none;
  background-color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(166, 225, 240, 0.493);
  }
}

.work-with-the-file__button-down {
  border: none;
  background-color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(166, 225, 240, 0.493);
  }
}

.work-with-the-file__indicator {
  width: 100%;
}

.work-with-the-file__change-popup-button-container-wrapper {
  position: relative;
}

.work-with-the-file__change-popup-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.work-with-the-file__button-of-documents {
  width: 100%;
  background-color: rgba(227, 202, 156, .6705882353);

  &:active {
    border-bottom: none;
  }
}

.work-with-the-file__button-of-search-result {
  width: 100%;
  background-color: rgba(227, 202, 156, .6705882353);

  &:active {
    border-bottom: none;
  }
}

.work-with-the-file__table {
  height: 100%;
  // background-color: rgba(36, 32, 32, 0.705);
}

.work-with-the-file__button-flipper-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  bottom: 0;
}

.work-with-the-file__button-flipping-start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 3px;
  cursor: pointer;
}

.work-with-the-file__button-flipping-previous {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 3px;
  cursor: pointer;
}

.work-with-the-file__text-content-of-flipping {
  margin: 3px;
}

.work-with-the-file__number-page {
  width: 25px;
  margin: 3px;
}

.work-with-the-file__button-flipping-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 3px;
  cursor: pointer;
}

.work-with-the-file__button-flipping-end {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 3px;
  cursor: pointer;
}

//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/// admin popup
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////

.admin {
  display: grid;
  grid-template-columns: 250px 1fr;
  width: 100%;
  height: 100%;
  user-select: none;
}

.admin__containers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.admin__container {
  margin: 20px;

  &:hover {
    text-decoration: underline;
  }
}

.admin__img {}

.admin__button-of-container {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.admin__content-container {}

.admin__structure-of-the-enterprise {
  display: block;
}

.admin__preview-structure-of-the-enterprise {
  width: 100%;
}

.admin__form-structure-of-the-enterprise {
  display: flex;
  justify-content: start;
}

.admin__button-structure-of-the-enterprise {
  background-color: white;

  &:hover {
    background-color: rgba(55, 134, 134, 0.171);
    cursor: pointer;
  }
}

.admin__menu-structure-of-the-enterprise {
  display: flex;
  text-align: center;
  width: 100%;
}

.admin__buttom-form-of-the-structure-enterprise {
  font-size: 12px;
  width: 220px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;

  &:hover {
    background-color: rgba(0, 255, 255, 0.26);
    cursor: pointer;
  }
}

.admin__input-structure-of-the-enterprise {
  font-size: 12px;
  width: 220px;
  height: 40px;
  margin-top: 10px;
  padding: 0;
}

.admin__block-of-tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.admin__table-wrapper {
  width: 100%;
  height: 100%;
}

.admin__contant-table {}

.admin__working-employees {
  display: none;
}

.admin__menu-working-employees {
  width: 1000px;
}

.admin__form-working-employees {
  width: 1000px;
}

.admin__button-working-employees {
  width: 400px;
  margin-top: 5px;

  &:hover {
    cursor: pointer;
  }
}

.admin__table-wrapper-working-employees {
  width: 100%;
  height: 100%;
}

.admin__table-working-employees {
  width: 100%;
  height: 100%;
}

.admin__settings-users {
  display: none;
}

.admin__form-settings-users {
  display: flex;
  flex-direction: column;
}

.admin__container-settings-users {
  display: flex;
  align-items: center;
  margin: 10px;
}

.admin__button-settings-users {
  width: 200px;
  margin: 10px;
}

.admin__input-settings-users {
  margin-right: 10px;
}

.admin__text-settings-users {
  font-size: 18px;
  font-weight: 500;
}

.admin__checkbox-settings-users {
  margin-right: 10px;
}

.admin__group-access {
  display: none;
}

.admin__wrapper-buttons-group-access {
  display: inline-block;
}

.admin__preview-group-access {}

.admin__form-menu-group-access {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.admin__form-menu-button-group-access {
  border: none;
  transition: .4s;
  &:hover {
    color: white;
    background-color: rgba(3, 143, 143, 0.849);
    cursor: pointer;
    transition: .4s;
  }
}

.admin__wrapper-table-group-access {
  width: 100%;
  height: 100%;
}

.admin__table-group-access {
  width: 100%;
  height: 100%;
}

.admin__structure-folder {
  display: none;
}

.admin__preview-structure-folder {}

.admin__wrapper-containers-structure-folder {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.admin__container-structure-folder {}

.admin__popup-container-structure-folder {
  display: flex;
  width: 100%;
}

.admin__button-structure-folder {
}

.admin__menu-container-structure-folder {
  display: grid;
  width: 100%;
}

.admin__menu-button-structure-folder {
}

.admin__menu-input-count-structure-folder {}

.admin__menu-input-level-structure-folder {}

.admin__menu-input-element-level-structure-folder {}

.admin__manu-input-search-structure-folder {}

.admin__table-structure-folder {}

.admin__main-table-container-structure-folder {}

.admin__wrapper-quick-menu-structure-folder {
  display: grid;
  justify-content: center;
}

.admin__button-toggle-table-structure-folder {}

.admin__button-current-mode-structure-folder {}

.admin__main-table-structure-folder {

}

.admin__rights-and-folders-structure-folder {
  width: 100%;
}

.admin__menu-rights-and-folders-structure-folder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.admin__button-of-menu-rights-and-folders-structure-folder {}

.admin__table-rights-and-folders-of-structure-folder {}

.admin__container-rights-and-folders-structure-folder {}

.admin__wrapper-menu-rights-and-folders-structure-folder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.admin__button-menu-rights-and-folders-structure-folder {

}

.admin__main-table-rights-and-folders-structure-folder {}

.admin__dictionaries {
  display: none;
}

.admin__preview-dictionaries {}

.admin__text-dictionaries {}

.admin__menu-dictionaries {
  display: flex;
  margin-top: 5px;
}

.admin__input-search-dictionaries {}

.admin__selecting-an-area-dictionaries {}

.admin__element-selecting-an-area-dictionaries {}

.admin__button-dictionaries {}

.admin__table-of-dictionaries {}

.admin__file-storage {
  display: none;
}

.admin__preview-file-storage {}

.admin__wrapper-button-file-storage {
  display: flex;
}

.admin__button-file-storage {}

.admin__content-container-of-file-storage {
  display: grid;
  grid-template-columns: 200px 300px;
  margin-top: 20px;
}

.admin__text-file-storage {
  display: inline-block;
  width: 200px;
  margin-top: 20px;
}

.admin__input-file-storage {}

.admin__system-configuration {
  display: none;
}

.admin__preview-system-configuration {}

.admin__popup-change-of-system-configuration {}

.admin__button-of-chenge-system-configuration {}

.admin__wrapper-form-system-configuration {}

.admin__form-system-configuration {
  margin-top: 10px;
}

.admin__select-type-system-configuration {
}

.admin__element-of-select-type-system-configuration {
}

.admin__button-system-configuration {}

.admin__table-of-system-configuration-document {}

.admin__setting-up-mailing-lists {}

.admin__preview-setting-up-mailing-lists {}

.admin__form-of-setting-up-mailing-lists {}

.admin__button-setting-up-mailing-lists {}

.admin__wrapper-content-setting-up-mailing-lists {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.admin__content-setting-up-mailing-lists {
  margin-top: 15px;
}

.admin__input-for-content-setting-up-mailing-lists {
  width: 300px;
  margin-top: 15px;
}

.admin__input-enable-or-disable-up-maailling-error-of-setting-up-mailing-lists {
  margin: 5px;
}

.admin__protocols {
  display: none;
}

.admin__peview-protocols {}

.admin__popup-change-protocols {}

.admin__button-change-popup-of-protocols {}

.admin__popup-archive-protocols-of-all-protocols {
  display: flex;
  flex-wrap: wrap;
}

.admin__form-archive-protocols-of-all-protocols {
  margin-top: 10px;
}

.admin__button-archive-protocols-of-all-protocols {}

.admin__input-archive-protocols-of-all-protocols {}

.admin__talbe-archive-protocols-of-all-protocols {}

.admin__setting-all-protocols {
}

.admin__form-of-setting-all-protocols {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.admin__wrapper-container-of-setting-all-protocols {}

.admin__introduction-of-setting-all-protocols {}

.admin__wrapper-element-of-cotainer-setting-all-protocols {}

.admin__checkbox-of-setting-all-protocols {}

.admin__text-checkbox-setting-all-protocols {}

.admin__license {
  display: none;
}

.admin__preview-license {}

.admin__form-license {}

.admin__container-license {}

.admin__input-license {}

.admin__button-license {}

.admin__button-activate-of-license {}

.admin__text-license {}

.admin__number-license {}

//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/// settings popup
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////

.settings {
  display: none;
  grid-template-columns: 250px 1fr;
}

.settings__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  height: 100%;
}

.settings__user {}

.settings__user-img {}

.settings__user-button {
  font-size: 15px;
  font-weight: 600;
  width: 220px;
  height: 45px;
}

.settings__generalis {}

.settings__generalis-imt {}

.settings__generalis-button {
  font-size: 15px;
  font-weight: 600;
  width: 220px;
  height: 45px;
}

.settings__scanning {}

.settings__scanning-img {}

.settings__scanning-button {
  font-size: 15px;
  font-weight: 600;
  width: 220px;
  height: 45px;
}

.settings__popups-container {}

.settings__popup-of-user-settings {
  display: none;
}

.settings__popup-of-user-settings-preview-wrapper {}

.settings__popup-of-user-settings-preview {}

.settings__popup-of-user-settings-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings__button-of-old-passwords {
  width: 250px;
  height: 30px;
  margin: 5px;
  transition: .4s;

  &:hover {
    transform: scale(1.1);
    border: 1px solid blue;
    cursor: pointer;
    transition: .4s;
  }
}

.settings__button-of-new-passwords {
  width: 250px;
  height: 30px;
  margin: 5px;
  transition: .4s;

  &:hover {
    transform: scale(1.1);
    border: 1px solid blue;
    cursor: pointer;
    transition: .4s;
  }
}

.settings__button-of-confirmatio-passwords {
  width: 250px;
  height: 30px;
  margin: 5px;
  transition: .4s;

  &:hover {
    transform: scale(1.1);
    border: 1px solid blue;
    cursor: pointer;
    transition: .4s;
  }
}

.settings__button-of-user-settings {
  width: 150px;
  height: 30px;
  background-color: white;
  transition: .4s;

  &:hover {
    color: white;
    border-color: blue;
    background-color: blue;
    transition: .4s;
  }
}

.settings__popup-of-generalis-settings {
  display: none;
}

.settings__preview-of-generalis-settings {}

.settings__button-for-open-acta-of-generalis-settings {
  width: 300px;
  height: 35px;
  transition: .4s;
  background-color: white;

  &:hover {
    color: white;
    background-color: rgba(28, 119, 119, 0.651);
    cursor: pointer;
    transition: .4s;
  }
}

.settings__popup-of-scanning-settings {
  display: none;
  flex-direction: column;
}

.settings__preview-of-scanning-settings {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  padding: 15px;
  color: white;
  background-color: rgba(61, 61, 38, 0.658);
}

.settings__choice-scan-of-scanning-settings {
  margin: 5px;
}

.settings__form-of-scanning-settings {}

.settings__button-choice-of-scanning-settings {
  margin-top: 5px;
  margin-bottom: 5px;
}

.settings__text-of-scanning-settings {
  font-size: 16px;
  font-weight: 600;
}

.settings__button-checkbox-choice-of-scanning-settings {
  margin: 15px;

  &:hover {
    cursor: pointer;
  }
}

//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/// about programm popup
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////

.about-programm {
  display: none;
  user-select: none;
}

.about-programm__preview {
  font-size: 35px;
  font-weight: 600;
  margin: 20px;
}

.about-programm__wrapper-version-of-programm {
  font-size: 25px;
  font-weight: 500;
  margin-top: 45px;
  padding-bottom: 20px;
}

.about-programm__text-version-of-programm {
  font-size: 25px;
  font-weight: 500;
  margin-left: 20px;
}

.about-programm__number-version-of-programm {
  font-size: 25px;
  font-weight: 500;
}

.about-programm__text-licence-of-programm {
  font-size: 25px;
  font-weight: 500;
  margin-left: 20px;
}

.about-programm__count-licence-of-programm {
  font-size: 25px;
  font-weight: 500;
}

//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/// other popup
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////